/cache/*
/customer_fonts/*
/downloads/*
/fonts/*
/parse/*
/pdfs/*
!/pdfs/tmp
/pdfs/tmp/*
/pdfs_to_merge/*
/previews/*
/read_pdf/*
/result/*
/svgs/*
!/svgs/tmp
/svgs/tmp/*
/tmp/*
/watermark_resources/*
/whiteunderprintpdfs/*